@import "tailwindcss";

@theme {
  --font-family: "Roboto Mono";
  --color-black: #121c2f;
  --color-white: #ffffff;
  --color-yellow: #fef970;
  --color-blue: #5a88f9;
  --color-lightblue: #9decff;
}
